html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
}

.no-scroll {
  overflow: hidden !important;
  height: 100vh !important;
  touch-action: none;
}
